<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Commentaire</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'centres/css/style.css' %}">
</head>
<body>
    <header>
        <!-- Incluez votre en-tête ici -->
    </header>
    <main>
        <h1>Ajouter un Commentaire pour {{ session.formation.titre }}</h1>
        
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'centres:commentaire_create' session_id=session.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Ajouter Commentaire</button>
            </form>
        {% else %}
            <p>Vous devez être connecté pour ajouter un commentaire. <a href="{% url 'login' %}">Connectez-vous</a></p>
        {% endif %}
    </main>
</body>
</html>
